<html>
{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Info about our Company</h1>
  <p>This is the company of 6 students named Ravi Subramanian,Nandagopan,Naveen,Sankar,Arun kumar,Sharukhan.In this Company we will provide oppurtunity to all youngsters who are willing to write blog and want to publish in to the world.Basically this project has been developed as our assignment presentation which we are going to do in 1st April 2021. This Front end has been desinged using material ui and back end has beeen designed using flask. We are hosting this platform in heroku platform a cloud based platform where we will use free trail version </p>
</div>

{% endblock %}
</html>